<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Student Information</title>
</head>

<body>
	<div align="center">
		<h1>Student List</h1>

		<a href="/new">Add New Student</a>

		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>Student ID</th>
					<th>Student Name</th>
					<th>Student City</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${students}">
					<td th:text="${student.id}">Student ID</td>
					<td th:text="${student.name}">Student Name</td>
					<td th:text="${student.city}">Student City</td>
					<td>					
						<a th:href="@{'/edit/' + ${student.id}}">Edit</a>&nbsp;&nbsp;&nbsp;
						<a th:href="@{'/delete/' + ${student.id}}">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>